In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('C:/pypy/zomato.csv')

In [3]:
 df.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [4]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

***Frequency Encoding***

In [6]:
for x in df:
    print(x, len(df[x].unique()))

url 51717
address 11495
name 8792
online_order 2
book_table 2
rate 65
votes 2328
phone 14927
location 94
rest_type 94
dish_liked 5272
cuisines 2724
approx_cost(for two people) 71
reviews_list 22513
menu_item 9098
listed_in(type) 7
listed_in(city) 30

In [11]:
city_count=df['listed_in(city)'].value_counts().to_dict()
city_count

{'BTM': 3279,
 'Koramangala 7th Block': 2938,
 'Koramangala 5th Block': 2836,
 'Koramangala 4th Block': 2779,
 'Koramangala 6th Block': 2623,
 'Jayanagar': 2371,
 'JP Nagar': 2096,
 'Indiranagar': 1860,
 'Church Street': 1827,
 'MG Road': 1811,
 'Brigade Road': 1769,
 'Lavelle Road': 1744,
 'HSR': 1741,
 'Marathahalli': 1659,
 'Residency Road': 1620,
 'Whitefield': 1620,
 'Bannerghatta Road': 1617,
 'Brookefield': 1518,
 'Old Airport Road': 1425,
 'Kammanahalli': 1329,
 'Kalyan Nagar': 1309,
 'Basavanagudi': 1266,
 'Sarjapur Road': 1261,
 'Electronic City': 1229,
 'Bellandur': 1227,
 'Frazer Town': 1185,
 'Malleshwaram': 1096,
 'Rajajinagar': 1079,
 'Banashankari': 863,
 'New BEL Road': 740}

In [13]:
# replace the listed in city column with the freq of occurance of 
#each feature.

df['listed_in(city)']= df['listed_in(city)'].map(city_count)
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,NaN
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,NaN
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,NaN
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,NaN
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,NaN

***Target Guided Ordinal Encoding***

1. Ordering the labels according to the target
2. Replace the labels by the joint probability of being 1 or 0

In [50]:
fl= pd.read_csv('C:/pypy/titanic_train.csv', usecols=['Cabin','Survived'])
fl.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [51]:
 fl['Cabin'].fillna('Missing',inplace=True)

In [52]:
fl.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [53]:
from io import StringIO

fl['Cabin']=fl['Cabin'].astype(str).str[0]

In [54]:
fl

     Survived Cabin
0           0     M
1           1     C
2           1     M
3           1     C
4           0     M
..        ...   ...
886         0     M
887         1     B
888         0     M
889         1     C
890         0     M

[891 rows x 2 columns]

In [55]:
 fl['Cabin'].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [56]:
fl.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [57]:
fl.groupby(['Cabin'])['Survived'].mean().sort_values()

Cabin
T    0.000000
M    0.299854
A    0.466667
G    0.500000
C    0.593220
F    0.615385
B    0.744681
E    0.750000
D    0.757576
Name: Survived, dtype: float64

In [58]:
ordinal_label=fl.groupby(['Cabin'])['Survived'].mean().sort_values().index
ordinal_label

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [59]:
enumerate(ordinal_label,0)

In [60]:
dict1={k:i for i, k in enumerate(ordinal_label,0)}
dict1

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [89]:
fl['Cabin Target Encode']=fl['Cabin'].map(dict1)
fl.head()

   Survived Cabin  Cabin mean encode  Cabin Target Encode
0         0     M           0.299854                    1
1         1     C           0.593220                    4
2         1     M           0.299854                    1
3         1     C           0.593220                    4
4         0     M           0.299854                    1

***Mean Encoding***

In [80]:
# for the exercise above, to find mean encodinf we just
#take the mean data and replace the alphabets with the mean

fl= pd.read_csv('C:/pypy/titanic_train.csv', usecols=['Cabin','Survived'])
fl.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [81]:
 fl['Cabin'].fillna('Missing',inplace=True)

In [82]:
fl.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [83]:
fl['Cabin']=fl['Cabin'].astype(str).str[0]
fl.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [84]:
 fl['Cabin'].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [85]:
fl.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [86]:
mean_norminal=fl.groupby(['Cabin'])['Survived'].mean().to_dict()
mean_norminal

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [87]:
fl['Cabin mean encode']=fl['Cabin'].map(mean_norminal)

In [90]:
fl

     Survived Cabin  Cabin mean encode  Cabin Target Encode
0           0     M           0.299854                    1
1           1     C           0.593220                    4
2           1     M           0.299854                    1
3           1     C           0.593220                    4
4           0     M           0.299854                    1
..        ...   ...                ...                  ...
886         0     M           0.299854                    1
887         1     B           0.744681                    6
888         0     M           0.299854                    1
889         1     C           0.593220                    4
890         0     M           0.299854                    1

[891 rows x 4 columns]

***Probability Ratio Encoding***

1. find the mean of the dependent var(survived) wrt each unique independent var(cabin). this is the probability of survival
2. get the probability of death by 1-(survived probability)
3. find the prob ratio= survived prob/died prob
4. transform the ratio into dictionary for easy replacing of the string var to the ratio un the data

In [91]:
prob_fl= fl.groupby(['Cabin'])['Survived'].mean()
prob_fl

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [94]:
prob_fl=pd.DataFrame(prob_fl)
prob_fl

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [96]:
prob_fl['Died']=1-prob_fl['Survived']

In [97]:
prob_fl.head()

       Survived      Died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000

In [98]:
prob_fl['Probability Ratio']= prob_fl['Survived']/prob_fl['Died']
prob_fl.head()

       Survived      Died  Probability Ratio
Cabin
A      0.466667  0.533333           0.875000
B      0.744681  0.255319           2.916667
C      0.593220  0.406780           1.458333
D      0.757576  0.242424           3.125000
E      0.750000  0.250000           3.000000

In [101]:
probratio_dict=prob_fl['Probability Ratio'].to_dict()
probratio_dict

{'A': 0.875,
 'B': 2.916666666666666,
 'C': 1.4583333333333333,
 'D': 3.125,
 'E': 3.0,
 'F': 1.6000000000000003,
 'G': 1.0,
 'M': 0.42827442827442824,
 'T': 0.0}

In [103]:
fl['Cabin Prob.Ratio Encode']=fl['Cabin'].map(probratio_dict)
fl.head()

,Survived,Cabin,Cabin mean encode,Cabin Target Encode,Cabin Prob.Ratio Encode
0,0,M,0.299854,1,0.428274
1,1,C,0.593220,4,1.458333
2,1,M,0.299854,1,0.428274
3,1,C,0.593220,4,1.458333
4,0,M,0.299854,1,0.428274